<h1>Derek's Word Ladder</h1>
<hr>
<p>
Fill in each step with a word that differs from the word in the previous step by no more than one character.  Once you reach a word that differs from the goal by only one letter, you can stop and leave the remainder of the steps empty.
</p>
<h3>Please pick a word length: 
<%= form_tag(check_path, method: "get") do  %>
  <%= select_tag(:word_id, '<option value="4">Four Letters</option><option value="5">Five Letters</option>'.html_safe)%>
  <%= submit_tag("Refresh") %>
<% end %>
</h3>
<br>
<h4>Word Length: <%= @word_length %></h4>
Step 0:&nbsp;&nbsp;&nbsp;<%= @start_word %>
<%= form_tag(check_path, method: "get") do  %>
    <%= label_tag(:step1, "Step 1: ") %>
    <%= text_field_tag(:step1) %><br>
    <%= label_tag(:step2, "Step 2: ") %>
    <%= text_field_tag(:step2) %><br>
    <%= label_tag(:step3, "Step 3: ") %>
    <%= text_field_tag(:step3) %><br>
    <%= label_tag(:step4, "Step 4: ") %>
    <%= text_field_tag(:step4) %><br>
    <%= label_tag(:step5, "Step 5: ") %>
    <%= text_field_tag(:step5) %> <%= submit_tag("Check Answers") %>
    <%= hidden_field_tag(:start_word, @start_word) %>
    <%= hidden_field_tag(:end_word, @end_word) %>
<% end %>
Goal:&nbsp;&nbsp;&nbsp;<%= @end_word %>
<br>
