<%= link_to "Play Again", root_path %>
<br>
<br>
<h3>Your Guesses</h3>
<br>
<table border="1" cellpadding="3">
  <tbody>
    <tr>
      <td style="text-align: right;">Start:</td>
      <td><%= @start_word %></td>
    </tr>
    <% @steps.each_with_index do |line, index| %>
      <tr>
        <td style="text-align: right;">Step<%= index + 1 %>:</td>
        <td><%= line %><br></td>
      </tr>
    <% end %>
    <tr>
      <td style="text-align: right;">End:</td>
      <td><%= @end_word %></td>
    </tr>
  </tbody>
</table>
<% if @valid_ladder %>
  <h3>Correct! You Win!</h3>
<% else %>
  <h3>Incorrect. You Lose!</h3>
<% end %>
