<div id="upload_link">
<% if user_signed_in? %>
<%= link_to 'Upload an Image', new_image_path %>
<% end %>
</div>

<h1>Listing Images</h1>

<% if user_signed_in? %>
  <h2>Your Images</h2>
  <% if @user_images.empty? %>
    <h3>You have no images, yet</h3>
  <% else %>
    <table>
      <tbody>
        <% @user_images.each do |image| %>
          <tr style="float: left;">
            <td>
              <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <h2>Images Shared With You</h2>
  <% if @shared_with_user.empty? %>
    <h3>No images have been shared with you, yet</h3>
  <% else %>
    <table>
      <tbody>
        <% @shared_with_user.each do |image, username| %>
          <tr style="float: left;">
            <td>
              <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
              <br><%= username %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<h2>Public Images</h2>
<table>
  <tbody>
    <% @public_images.zip(@usernames).each do |image, username| %>
      <tr style="float: left;">
        <!-- Need to display private images if the right user is logged in...will figure out later. -->
          <td>
            <%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %>
            <!--< If nobody is signed in then display the username >-->
            <!--< if user_signed_in? && current_user.name == username.name >-->
            <% if user_signed_in? && current_user.name == username.name %>
            <% else %>
              <br><%= username.name %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

