<p id="notice"><%= notice %></p>

<div id="user_nav">
<% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %> or
<%= link_to "Sign in", new_user_session_path %>
<% end %>
</div>

<h1>Listing Images</h1>

<table>
  <tbody>
    <% @public_images.zip(@usernames).each do |image, username| %>
      <tr style="float: left;">
        <!-- Need to display private images if the right user is logged in...will figure out later. -->
        <!--< if image.private == false >-->
          <td><%= link_to (image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename), image %></td>
        <td><br><%= username.name %></td>
        <!--< end >-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'Upload an Image', new_image_path %>
