<% if @has_access %>
<p>
  <%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename %>
</p>

<% if user_signed_in? %>
  <% if current_user.name == @image_user.user.name %>
  <p>
    <strong>Owner: You</strong>
  </p>
  <% else %>
    <p>
      <strong>Owner:</strong>
      <%= @image_user.user.name %>
    </p>
  <% end %>
<% else %>
  <p>
    <strong>Owner:</strong>
    <%= @image_user.user.name %>
  </p>
<% end %>

<div class="tags_table">
  <thead>
    <tr>
      <th><strong>Tags: </strong></th><br>
    </tr>
  </thead>
  <tbody>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
        <tr>
          <td><%= tag.str %></td>
          <% if user_signed_in? && current_user.name == @image_user.user.name %>
            <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
            <td><%= link_to 'Remove', tag, method: :delete, data: { confirm: 'Are you sure you want to remove this tag?' } %></td>
          <% end %>
          <br>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <br>

  <% if user_signed_in? && current_user.name == @image_user.user.name %>
    <strong>Create New Tag</strong>
    <%= render 'tags/form' %>
    <br>
  <% end %>

</div>

<% if user_signed_in? && current_user.name == @image_user.user.name %>
    <% if @image.private == false %>
      <%= form_for @image do |f| %>
        <%= f.hidden_field :private, value: true %>
        <%= f.submit 'Make Private?' %>
      <% end %>
    <% else %>
      <%= form_for ([@image,@image_user]) do |f| %>
        <%= f.hidden_field :private, value: false %>
        <%= f.submit 'Make Public?' %>
        <div class="field">
          <!--<= f.select :image_id, @image.available_users %>-->
          <!--<= f.submit "Share image with user" %>-->
        </div>
      <% end %>
    <% end %>

  <br>
  <%= link_to 'Delete', @image, method: :delete, data: { confirm: 'Are you sure you want to delete this image?' } %> |
<% end %>

<%= link_to 'Back', images_path %>

<% else %>

  <h1>Stop poking around here!</h1>

<% end %>
