<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @image.filename %>
</p>

<p>
  <strong>Private flag:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>User:</strong>
  <%=  %>
</p>
<p>
  <strong>Test:</strong>
  <% @image.image_users.each do |image_user| %>
  <% if !image_user.new_record? %>
    <%= image_user.user.name %><br>
    <% end %>
  <% end %>

</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
